@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #12c2e9;
  --secondary-color: #f64f59;
  --tertiary-color: #c471ed;
}

@layer components {
  .gradientTheme {
    @apply bg-gradient-to-tr from-primary-color via-tertiary-color to-secondary-color;
  }
  .heroButton {
    @apply px-6 py-2 bg-gray-300 rounded-full uppercase font-medium text-xs tracking-widest text-black transition-all hover:bg-gray-400 hover:animate-pulse;
  }

  .sectionHeader {
    @apply absolute top-24 uppercase tracking-[20px] text-gray-500 text-2xl;
  }

  .contactRow {
    @apply flex items-center space-x-5 justify-center;
  }

  .contactIcon {
    @apply text-[#F7AB0A] h-7 w-7 animate-pulse;
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40;
  }

  .scrollbarStyle {
    @apply scrollbar scrollbar-track-gray-400/20 scrollbar-thumb-[#F7AB0A]/80;
  }
}
